CONFIG_TARGET_x86=y
CONFIG_TARGET_x86_64=y
CONFIG_TARGET_x86_64_DEVICE_generic=y
CONFIG_TARGET_IMAGES_GZIP=y
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_ROOTFS_PARTSIZE=1024
CONFIG_TARGET_IMAGES_PAD=y
CONFIG_GRUB_IMAGES=y
CONFIG_GRUB_EFI_IMAGES=y
CONFIG_EFI_IMAGES=y
CONFIG_VMDK_IMAGES=y
CONFIG_ISO_IMAGES=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_IMAGES_GZIP=y

# 工控机特定配置
CONFIG_KERNEL_CRASHLOG=y
CONFIG_KERNEL_KEXEC=y
CONFIG_KERNEL_KEXEC_FILE=y
CONFIG_KERNEL_DEBUG_INFO=y
CONFIG_KERNEL_DEBUG_KERNEL=y
CONFIG_KERNEL_DEBUG_INFO_DWARF4=y
CONFIG_KERNEL_DEBUG_INFO_BTF=y
CONFIG_KERNEL_FTRACE=y
CONFIG_KERNEL_KPROBES=y
CONFIG_KERNEL_UPROBES=y
CONFIG_KERNEL_DEBUG_FS=y
CONFIG_KERNEL_MAGIC_SYSRQ=y
CONFIG_KERNEL_SOFTLOCKUP_DETECTOR=y
CONFIG_KERNEL_HARDLOCKUP_DETECTOR=y
CONFIG_KERNEL_DETECT_HUNG_TASK=y
CONFIG_KERNEL_WQ_WATCHDOG=y
CONFIG_KERNEL_TEST_KSTRTOX=y
CONFIG_KERNEL_EFI_STUB=y
CONFIG_KERNEL_EFI=y
CONFIG_KERNEL_EFI_MIXED=y
CONFIG_KERNEL_EFI_VARS=y
CONFIG_KERNEL_EFI_RUNTIME_MAP=y
CONFIG_KERNEL_EFI_FAKE_MEMMAP=y
CONFIG_KERNEL_EFI_MAX_FAKE_MEM=8
CONFIG_KERNEL_EFI_VARS_PSTORE=y
CONFIG_KERNEL_EFI_VARS_PSTORE_DEFAULT_DISABLE=y

# 工控机驱动支持
CONFIG_PACKAGE_kmod-ata-core=y
CONFIG_PACKAGE_kmod-ata-ahci=y
CONFIG_PACKAGE_kmod-ata-piix=y
CONFIG_PACKAGE_kmod-e1000=y
CONFIG_PACKAGE_kmod-e1000e=y
CONFIG_PACKAGE_kmod-igb=y
CONFIG_PACKAGE_kmod-ixgbe=y
CONFIG_PACKAGE_kmod-r8169=y
CONFIG_PACKAGE_kmod-usb-core=y
CONFIG_PACKAGE_kmod-usb-ohci=y
CONFIG_PACKAGE_kmod-usb-uhci=y
CONFIG_PACKAGE_kmod-usb2=y
CONFIG_PACKAGE_kmod-usb3=y
CONFIG_PACKAGE_kmod-usb-storage=y
CONFIG_PACKAGE_kmod-usb-storage-extras=y
CONFIG_PACKAGE_kmod-usb-serial=y
CONFIG_PACKAGE_kmod-usb-serial-ftdi=y
CONFIG_PACKAGE_kmod-usb-serial-pl2303=y
CONFIG_PACKAGE_kmod-usb-serial-ch341=y
CONFIG_PACKAGE_kmod-usb-serial-cp210x=y
CONFIG_PACKAGE_kmod-i2c-core=y
CONFIG_PACKAGE_kmod-i2c-algo-bit=y
CONFIG_PACKAGE_kmod-i2c-dev=y
CONFIG_PACKAGE_kmod-gpio-dev=y
CONFIG_PACKAGE_kmod-gpio-button-hotplug=y
CONFIG_PACKAGE_kmod-leds-gpio=y
CONFIG_PACKAGE_kmod-watchdog=y
CONFIG_PACKAGE_kmod-hwmon-core=y
CONFIG_PACKAGE_kmod-hwmon-lm75=y
CONFIG_PACKAGE_kmod-hwmon-lm90=y
CONFIG_PACKAGE_kmod-hwmon-max6650=y
CONFIG_PACKAGE_kmod-hwmon-pwmfan=y

# 工控机网络功能
CONFIG_PACKAGE_kmod-ppp=y
CONFIG_PACKAGE_kmod-pppoe=y
CONFIG_PACKAGE_kmod-pppox=y
CONFIG_PACKAGE_kmod-pptp=y
CONFIG_PACKAGE_kmod-slip=y
CONFIG_PACKAGE_kmod-tun=y
CONFIG_PACKAGE_kmod-vxlan=y
CONFIG_PACKAGE_kmod-gre=y
CONFIG_PACKAGE_kmod-bonding=y
CONFIG_PACKAGE_kmod-team=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-veth=y
CONFIG_PACKAGE_kmod-ipip=y
CONFIG_PACKAGE_kmod-ip6-tunnel=y
CONFIG_PACKAGE_kmod-ip6-udp-tunnel=y
CONFIG_PACKAGE_kmod-ipsec=y
CONFIG_PACKAGE_kmod-ipsec4=y
CONFIG_PACKAGE_kmod-ipsec6=y
CONFIG_PACKAGE_kmod-crypto-user=y
CONFIG_PACKAGE_kmod-crypto-aead=y
CONFIG_PACKAGE_kmod-crypto-authenc=y
CONFIG_PACKAGE_kmod-crypto-cbc=y
CONFIG_PACKAGE_kmod-crypto-ccm=y
CONFIG_PACKAGE_kmod-crypto-ctr=y
CONFIG_PACKAGE_kmod-crypto-des=y
CONFIG_PACKAGE_kmod-crypto-ecb=y
CONFIG_PACKAGE_kmod-crypto-gcm=y
CONFIG_PACKAGE_kmod-crypto-gf128=y
CONFIG_PACKAGE_kmod-crypto-ghash=y
CONFIG_PACKAGE_kmod-crypto-hmac=y
CONFIG_PACKAGE_kmod-crypto-md5=y
CONFIG_PACKAGE_kmod-crypto-rng=y
CONFIG_PACKAGE_kmod-crypto-seqiv=y
CONFIG_PACKAGE_kmod-crypto-sha1=y
CONFIG_PACKAGE_kmod-crypto-sha256=y
CONFIG_PACKAGE_kmod-crypto-sha512=y

# 工控机工具
CONFIG_PACKAGE_i2c-tools=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_hdparm=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_usbutils=y
CONFIG_PACKAGE_libpci=y
CONFIG_PACKAGE_libudev-zero=y
CONFIG_PACKAGE_libsysfs=y
CONFIG_PACKAGE_libgpiod=y
CONFIG_PACKAGE_libgpiod-tools=y
CONFIG_PACKAGE_libgpiod-cxx=y
CONFIG_PACKAGE_libgpiod-dev=y
CONFIG_PACKAGE_libgpiod-dbg=y
CONFIG_PACKAGE_libgpiod-utils=y
CONFIG_PACKAGE_libgpiod-python=y
CONFIG_PACKAGE_libgpiod-python3=y

# 系统监控和日志
CONFIG_PACKAGE_syslog-ng=y
CONFIG_PACKAGE_logrotate=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_iotop=y
CONFIG_PACKAGE_iftop=y
CONFIG_PACKAGE_netdata=y
CONFIG_PACKAGE_netdata-web=y
CONFIG_PACKAGE_netdata-python=y
CONFIG_PACKAGE_netdata-go=y
CONFIG_PACKAGE_netdata-nodejs=y
CONFIG_PACKAGE_netdata-python3=y
CONFIG_PACKAGE_netdata-python3-mysql=y
CONFIG_PACKAGE_netdata-python3-postgresql=y
CONFIG_PACKAGE_netdata-python3-pymysql=y
CONFIG_PACKAGE_netdata-python3-psycopg2=y
CONFIG_PACKAGE_netdata-python3-pymongo=y
CONFIG_PACKAGE_netdata-python3-redis=y
CONFIG_PACKAGE_netdata-python3-requests=y
CONFIG_PACKAGE_netdata-python3-urllib3=y
CONFIG_PACKAGE_netdata-python3-yaml=y
CONFIG_PACKAGE_netdata-python3-ujson=y
CONFIG_PACKAGE_netdata-python3-simplejson=y
CONFIG_PACKAGE_netdata-python3-msgpack=y
CONFIG_PACKAGE_netdata-python3-pyyaml=y
CONFIG_PACKAGE_netdata-python3-pillow=y
CONFIG_PACKAGE_netdata-python3-matplotlib=y
CONFIG_PACKAGE_netdata-python3-numpy=y
CONFIG_PACKAGE_netdata-python3-pandas=y
CONFIG_PACKAGE_netdata-python3-scipy=y
CONFIG_PACKAGE_netdata-python3-scikit-learn=y
CONFIG_PACKAGE_netdata-python3-tensorflow=y
CONFIG_PACKAGE_netdata-python3-torch=y
CONFIG_PACKAGE_netdata-python3-keras=y
CONFIG_PACKAGE_netdata-python3-theano=y
CONFIG_PACKAGE_netdata-python3-mxnet=y
CONFIG_PACKAGE_netdata-python3-caffe2=y
CONFIG_PACKAGE_netdata-python3-pytorch=y
CONFIG_PACKAGE_netdata-python3-lightgbm=y
CONFIG_PACKAGE_netdata-python3-xgboost=y
CONFIG_PACKAGE_netdata-python3-catboost=y
CONFIG_PACKAGE_netdata-python3-fastai=y
CONFIG_PACKAGE_netdata-python3-transformers=y
CONFIG_PACKAGE_netdata-python3-datasets=y
CONFIG_PACKAGE_netdata-python3-tokenizers=y
CONFIG_PACKAGE_netdata-python3-sentencepiece=y
CONFIG_PACKAGE_netdata-python3-protobuf=y
CONFIG_PACKAGE_netdata-python3-grpcio=y
CONFIG_PACKAGE_netdata-python3-grpcio-tools=y
CONFIG_PACKAGE_netdata-python3-grpcio-reflection=y
CONFIG_PACKAGE_netdata-python3-grpcio-health-checking=y
CONFIG_PACKAGE_netdata-python3-grpcio-channelz=y
CONFIG_PACKAGE_netdata-python3-grpcio-status=y
CONFIG_PACKAGE_netdata-python3-grpcio-testing=y
CONFIG_PACKAGE_netdata-python3-grpcio-gcp=y
CONFIG_PACKAGE_netdata-python3-grpcio-auth=y
CONFIG_PACKAGE_netdata-python3-grpcio-observability=y
CONFIG_PACKAGE_netdata-python3-grpcio-admin-interface=y
CONFIG_PACKAGE_netdata-python3-grpcio-cronet=y
CONFIG_PACKAGE_netdata-python3-grpcio-alts=y
CONFIG_PACKAGE_netdata-python3-grpcio-xds=y
CONFIG_PACKAGE_netdata-python3-grpcio-testing=y
CONFIG_PACKAGE_netdata-python3-grpcio-gcp=y
CONFIG_PACKAGE_netdata-python3-grpcio-auth=y
CONFIG_PACKAGE_netdata-python3-grpcio-observability=y
CONFIG_PACKAGE_netdata-python3-grpcio-admin-interface=y
CONFIG_PACKAGE_netdata-python3-grpcio-cronet=y
CONFIG_PACKAGE_netdata-python3-grpcio-alts=y
CONFIG_PACKAGE_netdata-python3-grpcio-xds=y

# 保留基本功能
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_zerotier=y
CONFIG_PACKAGE_libminiupnpc=y
CONFIG_PACKAGE_libnatpmp=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-i18n-upnp-zh-cn=y
CONFIG_PACKAGE_miniupnpd-iptables=y
CONFIG_PACKAGE_luci-theme-argon=y
CONFIG_PACKAGE_openssh-keygen=y
CONFIG_PACKAGE_openssh-sftp-server=y
CONFIG_PACKAGE_openssl-util=y

# 禁用Geode相关功能
# CONFIG_HW_RANDOM_GEODE is not set
# CONFIG_CS5535_MFGPT is not set
# CONFIG_CS5535_CLOCK_EVENT_SRC is not set

# 内核配置
CONFIG_KERNEL_KALLSYMS=y
CONFIG_KERNEL_KALLSYMS_ALL=y
CONFIG_KERNEL_GDB_SCRIPTS=y
